@font-face {
    font-family: acumin-pro,sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url("https://use.typekit.net/hwb1xqw.css");
}

@font-face {
    font-family: acumin-pro,sans-serif;
    font-weight: 700;
    font-style: normal;
    src: url("https://use.typekit.net/hwb1xqw.css");
}

@font-face {
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url("https://use.typekit.net/hwb1xqw.css");
}

@font-face {
    font-family: acumin-pro-wide,sans-serif;
    font-weight: 500;
    font-style: normal;
    src: url("https://use.typekit.net/hwb1xqw.css");
}

@font-face {
    font-family: acumin-pro-wide,sans-serif;
    font-weight: 700;
    font-style: normal;
    src: url("https://use.typekit.net/hwb1xqw.css");
}

body {
    font-family: acumin-pro;
    font-weight: 700;
}

/* icono hamburguesa menu */
.menu-icon {
    display: inline-block;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
    font-size: 1rem;
}

.navbar-toggler {
    padding: 0%;
    font-size: 1rem !important;
}

/* hello */
.navbar-brand {
    margin-left: 2%;
    font-size: 1rem;
}

/* menu desplegable */
.navbar-nav {
    padding-right: 1em;
    margin-right: 0;
    padding-top: 1.5em;
    justify-content: right;
    text-align: right;
}

.dropdown-menu.show {
    text-align: right;
    background-color: transparent;
    border-radius: 0;
    font-family: acumin-pro;
    font-weight: 400;
}

.dropdown-toggle::after {
    border: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

/* icono flecha al lado de WORK */
.drop-icon {
    display: inline-block;
    width: 8%;
    height: 5%;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
}

.nav-link {
    justify-content: flex-end;
    display: flex;
}

/* idioma */
.eng-language {
    color: #c4c4c4 !important;
    font-weight: 400;
    font-family: acumin-pro-wide;
}

.drop-language {
    color: #c4c4c4 !important;
    font-weight: 400;
}

/* línea debajo del navbar */
hr {
    height: 0.4px;
    background-color: black;
    width: 90%;
    margin-top: 0;
}

.bg-light {
    background-color: transparent !important;
}
/* HASTA AQUÍ VA EL NAV */



/* header */
.logo-header {
    max-width: 45%;
    display: flex;
    margin: auto;
    padding-top: 2em;
}

.down-icon {
    max-width: 5%;
    display: flex;
    margin: auto;
    transform: rotate(90deg);
    text-align: center;
    justify-content: center;
    margin-top: 3em;
}

.title {
    font-family: acumin-pro-wide,sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    padding-left: 7%;
    padding-top: 3em;
    padding-bottom: 2em;
} 
.title h1 {
    font-size: 33px !important;
    line-height: 1em;
    margin-bottom: 0;
}
.title h2 {
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: rgba(0,0,0,0);
    font-size: 33px;
    line-height: 1em;
} 

.about-info {
    font-family: acumin-pro-wide,sans-serif;
    font-weight: 700;
    font-size: 30px !important;
    text-align: right;
    margin-left: 7%;
}

.subtitle-div {
    float: left;
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
    position: relative;
}

.about-info h3 {
    font-weight: 700 !important;
    font-size: 30px !important;
    line-height: 0.8em;
    margin-bottom: 0;
} 

.about-info h4 {
    font-weight: 700 !important;
    font-size: 30px !important;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: rgba(0,0,0,0);
    line-height: 0.8em;
    padding-top: 0;
} 

.info-div p {
    font-family: acumin-pro,sans-serif !important;
    font-weight: 700 !important;
    font-size: 4px !important;
    text-transform: uppercase;
    text-align: left;
    width: 90%;
    padding-left: 38%;
    padding-top: 10.5%;
}

.who-div p {
    font-family: acumin-pro,sans-serif !important;
    font-weight: 700 !important;
    font-size: 4px !important;
    text-transform: uppercase;
    text-align: left;
    width: 85%;
    padding-left: 47%;
    padding-top: 10.5%;
}

.work-btn a {
    text-decoration: none;
    color: black;
}

.work-btn a:hover {
    color: white;
}

.contact-btn a:hover {
    color: white;
}

.contact-btn a {
    text-decoration: none;
    color: black;
}

.btn {
    font-family: acumin-pro,sans-serif !important;
    font-size: 4px;
    border: 0.02px solid transparent;
    padding: .175rem .20rem;
}

.btn-outline-dark {
    color: black;
    background-color: transparent;
    background-image: none;
    border-color: black;
}

.work-btn {
    padding-right: 32%;
    line-height: 16px;
    padding-bottom: 7%;
}

p {
    margin-bottom: 0%;
}
.contact-btn {
    padding-right: 30%;
    line-height: 25px;
}

/* proyectos we work on */
.projects-div p {
    font-family: acumin-pro,sans-serif !important;
    font-weight: 700 !important;
    font-size: 6px !important;
    text-align: left;
    padding-top: 15%;
    position: absolute;
    right: 28px;
    line-height: 6px;
}

/* flecha grande we work */
.sign-icono img {
    width: 18%;
    position: absolute;
    padding-top: 15px;
    margin-left: 5px;
}

#mid-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

/* footer */
/* ceo boxes */
.carlos-info {
    border: solid 1px black;
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 4px;
    width: 35%;
}

.carlos-info h5 {
    font-family: acumin-pro,sans-serif !important;
    font-weight: 700 !important;
    font-size: 8px;
    margin-bottom: 0;
}

.carlos-info p {
    font-family: acumin-pro,sans-serif !important;
    font-weight: 500 !important;
    font-size: 7px;
    margin-bottom: 0;
    margin-top: 2.5px;
}

.social-medias img {
    width: 8px;
    height: 8px;
}

.social-medias {
    padding-top: 0;
}

.ines-info {
    border: solid 1px black;
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 4px;
    width: 35%;
}

.ines-info h5 {
    font-family: acumin-pro,sans-serif !important;
    font-weight: 700 !important;
    font-size: 8px;
    margin-bottom: 0;
}

.ines-info p {
    font-family: acumin-pro,sans-serif !important;
    font-weight: 500 !important;
    font-size: 7px;
    margin-bottom: 0;
    margin-top: 2.5px;
}

#personal-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2em;
    padding-bottom: 2em;
}



/* AQUÍ EMPIEZA EL FOOTER */
/* footer */
.info-footer p {
    font-size: 5px;
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 400;
    color: #c4c4c4;
}

.info-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.logo-footer {
    width: 8%;
    height: 8%;
    display: flex;
    margin: auto;
}

#footer {
    padding-top: 1em;
} 



/* RESPONSIVE */

/* IPHONE X */
@media screen and (min-device-width : 360px) {
    .navbar-light .navbar-nav .nav-link {
        color: black;
    }

    .info-div p {
        font-size: 6px !important;
        width: 90%;
        padding-left: 32%;
        padding-top: 9%;
    }

    .who-div p {
        font-size: 6px !important;
        width: 90%;
        padding-left: 40%;
        padding-top: 9%;
    }

    .projects-div p {
        font-size: 8px !important;
        padding-top: 15%;
        right: 13%;
        line-height: 6px;
    }

    .about-info {
        margin-bottom: 0.4em;
    }
}


/* IPAD */
@media screen and (min-device-width : 700px) {
    /* navbar */
    .navbar-brand img {
        margin-left: 10%;
        font-size: 1rem;
        width: 10%;
    }

    .navbar-light .navbar-nav .nav-link {
        color: black;
    }

    .bg-light {
        margin-top: 1%;
    }

    .navbar-brand {
        width: 75%;
        margin-left: 5%;
    }

    .navbar-toggler {
        margin-right: 4%;
    }

    .drop-icon {
        display: inline-block;
        width: 3%;
        height: 5%;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
    }

    .title h1 {
        font-size: 82px !important;
        line-height: 1em;
        margin-bottom: 0;
        letter-spacing: -2px;
        -webkit-text-stroke: 2.3px;
    }

    .title h2 {
        -webkit-text-stroke: 1.7px black;
        -webkit-text-fill-color: rgba(0,0,0,0);
        font-size: 82px;
        line-height: 1em;
        letter-spacing: -4px;
    }

    .about-info {
        font-size: 30px !important;
        padding-top: 1em;
        margin-left: 7%;
        padding-bottom: 1em;
    }

    .about-info h3 {
        font-size: 75px !important;
    }

    .about-info h4 {
        font-size: 75px !important;
    }

    .info-div p {
        font-size: 10px !important;
        width: 90%;
        padding-left: 38%;
        padding-top: 11%;
    }

    .btn {
        font-family: acumin-pro,sans-serif !important;
        font-size: 10px;
    }

    .btn-outline-dark {
        color: black;
        background-color: transparent;
        background-image: none;
        border-color: black;
    }

    .work-btn {
        padding-right: 32%;
        padding-top: 0;
    }

    p {
        margin-bottom: 0%;
    }
    .contact-btn {
        padding-right: 30%;
        padding-top: 0;
    }

    .projects-div p {
        font-size: 15px !important;
        padding-top: 12.5%;
        right: 70px;
        line-height: 13px;
    }

    .who-div p {
        font-size: 10px !important;
        width: 85%;
        padding-left: 47%;
        padding-top: 11%;
    }

    .carlos-info h5 {
        font-size: 13px;
    }

    .carlos-info p {
        font-size: 12px;
    }

    .ines-info h5 {
        font-size: 13px;
    }

    .ines-info p {
        font-size: 12px;
    }
    
    .social-medias img {
        width: 12px;
        height: 12px;
    }

    .social-medias {
        padding-top: 0;
        padding-bottom: 0.2em;
    }

    #footer {
        padding-top: 4em;
        padding-bottom: 2em;
    }

    .logo-footer {
        width: 6%;
        height: 6%;
    }

    .info-footer p {
        font-size: 8px;
        margin-top: 15px;
    }

}

/* DESKTOP */
@media screen and (min-device-width : 1000px) {
    /* navbar */
    .navbar-brand img {
        margin-left: 10%;
        font-size: 1rem;
        width: 10%;
    }

    .navbar-light .navbar-nav .nav-link {
        color: black;
    }

    /* idioma */
    .eng-language {
        color: #c4c4c4 !important;
        font-weight: 400;
        font-family: acumin-pro-wide;
    }

    .drop-language {
        color: #c4c4c4 !important;
        font-weight: 400;
        padding-right: 51% !important;
    }

    .navbar-expand-lg .navbar-nav {
        margin-right: 2em !important;
    }

    .bg-light {
        margin-top: 1%;
    }

    .navbar-nav {
        padding-top: 0;
    }
    
    .navbar-brand {
        width: 75%;
    }

    .drop-icon {
        display: none;
    }

    #header {
        padding-top: 4.5em;
    }

    .first-content {
        padding-bottom: 5em;
    }

    .title {
        padding-top: 7em;
        padding-bottom: 7em;
    }

    .title h1 {
        font-size: 123px !important;
    }

    .title h2 {
        -webkit-text-stroke: 2.5px black;
        font-size: 123px;
    }

    .about-info h3 {
        font-size: 105px !important;
    }

    .about-info h4 {
        font-size: 105px !important;
    }

    .info-div p {
        font-size: 14px !important;
        padding-top: 10%;
    }

    p {
        margin-bottom: 0%;
    }

    .btn {
        font-family: acumin-pro,sans-serif !important;
        font-size: .9rem;
    }

    .btn-outline-dark {
        color: black;
        background-color: transparent;
        background-image: none;
        border-color: black;
    }

    .work-btn {
        padding-right: 32%;
        padding-top: 0;
    }

    .contact-btn {
        padding-right: 30%;
        padding-top: 0.7em;
    }

    .projects-div p {
        font-size: 22px !important;
        padding-top: 12.5%;
        right: 15%;
        line-height: 18px;
    }

    .who-div p {
        font-size: 14px !important;
        padding-top: 10%;
    }

    .projects-div {
        padding-bottom: 10em;
    }

    .about-info {
        padding-bottom: 1.5em;
    }

    .carlos-info {
        padding-top: 14px;
        padding-left: 13px;
        padding-bottom: 8px;
    }

    .carlos-info h5 {
        font-size: 16px;
    }

    .carlos-info p {
        font-size: 15px;
        padding-top: 0.1em;
    }

    .ines-info {
        padding-top: 14px;
        padding-left: 13px;
        padding-bottom: 8px;
    }

    .ines-info h5 {
        font-size: 16px;
    }

    .ines-info p {
        font-size: 15px;
        padding-top: 0.1em;
    }

    .social-medias img {
        width: 15px;
        height: 15px;
    }

    .social-medias {
        padding-top: 0.2em;
        padding-bottom: 0.4em;
    }

    #footer {
        padding-top: 6em;
        padding-bottom: 3em;
    }

    .info-footer {
        padding-right: 2em;
    }

    .info-footer p {
        font-size: 10px;
        margin-top: 15px;
    }

}
