
@font-face {
    font-family: acumin-pro-wide,sans-serif;
    font-weight: 700;
    font-style: normal;
    src: url("https://use.typekit.net/hwb1xqw.css");
}

body {
    font-family: acumin-pro-wide;
    font-weight: 600;
    background-image: url(./../img/foto\ principal.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/* icono hamburguesa menu */
.menu-icon {
    display: inline-block;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
    font-size: 1rem;
}

.navbar-toggler {
    padding: 0%;
    font-size: 1rem !important;
}

/* hello */
.navbar-brand img {
    margin-left: 2%;
    font-size: 1rem;
    width: 20%;
}

.navbar-brand {
    width: 70%;
}

/* menu desplegable */
.navbar-nav {
    padding-right: 1em;
    margin-right: 0;
    padding-top: 1.5em;
    justify-content: right;
    text-align: right;
}

.dropdown-menu.show {
    text-align: right;
    background-color: transparent;
    border-radius: 0;
    font-family: acumin-pro;
    font-weight: 400;
}

.dropdown-toggle::after {
    border: 0;
}

/* icono flecha al lado de WORK */
.drop-icon {
    display: none;
}

.nav-link {
    justify-content: flex-end;
    display: flex;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

/* idioma */
.eng-language {
    color: #c4c4c4 !important;
    font-weight: 400;
}

.drop-language {
    color: #c4c4c4 !important;
    font-weight: 400;
}

/* línea debajo del navbar */
hr {
    height: 0.4px;
    background-color: white;
    width: 90%;
    margin-top: 0;
}

.bg-light {
    background-color: transparent !important;
}

/* ramas de diseño */


.our-work {
    border-left: 2px solid white;
    color: white;
    padding-left: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
.our-work a {
    text-decoration: none;
}

#header {
    padding-top: 2em;
    padding-left: 18%;
    padding-bottom: 10em;
}

.editorial-design a {
    color: white;
} 

.editorial-design a:hover {
    color: #B6A3D8 !important;
}

.branding a {
    color: white;
} 

.branding a:hover {
    color: #2e8752 !important;
}

.packaging a {
    color: white;
} 

.packaging a:hover {
    color: #8BB3C5 !important;
}

.animation a {
    color: white;
} 

.animation a:hover {
    color: #FCC978 !important;
}

.web-development a {
    color: white;
} 

.web-development a:hover {
    color: #F7B0AA !important;
}

/* RESPONSIVE */

/* IPHONE X */
@media screen and (min-device-width : 360px) {
    .navbar-light .navbar-nav .nav-link {
        color: white;
    }

    .title-page {
        font-size: 28px;
        padding-left: 1.3em;
    }
    .drop-icon {
        display: none;
    }
}

/* IPAD */
@media screen and (min-device-width : 700px) {
    /* navbar */
    .navbar-brand img {
        margin-left: 10%;
        font-size: 1rem;
        width: 10%;
    }

    .navbar-light .navbar-nav .nav-link {
        color: white;
    }

    .navbar-brand {
        width: 75%;
    }

    .drop-icon {
        display: none;
    }

    .our-work {
        border-left: 6px solid white;
        color: white;
        padding-left: 20px;
        font-size: 45px;
        display: flex;
        flex-direction: column;
    }
}

/* DESKTOP */
@media screen and (min-device-width : 1000px) {
    /* navbar */
    .navbar-brand img {
        margin-left: 10%;
        font-size: 1rem;
        width: 10%;
    }

    .navbar-light .navbar-nav .nav-link {
        color: white;
    }

    .navbar-brand {
        width: 75%;
    }

    .drop-icon {
        display: none;
    }

    /* idioma */
    .eng-language {
        color: #c4c4c4 !important;
        font-weight: 400;
    }

    .drop-language {
        color: #c4c4c4 !important;
        font-weight: 400;
        padding-right: 51% !important;
    }

    .navbar-expand-lg .navbar-nav {
        margin-right: 2em !important;
    }

    .our-work {
        border-left: 6.5px solid white;
        color: white;
        padding-left: 30px;
        font-size: 60px;
        display: flex;
        flex-direction: column;
        margin-top: 1em;
    }

}